/*Estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-size: 1rem;
    height: 100%; }

a {
    text-decoration: none;
    color: white;
}

body {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

h1 {
    text-align: center;
    margin: 1rem;
}

h1.color-white {
    color: aliceblue;
}

        /*Navegador*/

nav {
    display: flex;
    background-color: orangered;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
nav button {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    cursor: pointer;
    width: 12rem;
}

.boton-nav {
    margin-top: 1rem;
}
.boton-nav.active {
    background-color: white;
    color: black;
}

.numerito {
    background-color: orangered;
    color: rgb(240, 237, 237);
    padding: .2rem .3rem .2rem .2rem;
    border-radius: .2rem;
    margin-left: .5rem;
    text-align: center;
}

nav ul {
    display: flex;
    align-items: center;
    transition: 0.5s;
    border-radius: 1rem;
    height: 3rem;
    list-style: none;
}

nav ul li {
    background-color: orangered;
    border-radius: 0.5rem;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

body.dark-mode {
    background-color: black;
    transition-duration: 0.5s;
}


button.light-mode {
    background-color: white;
    color: black;
    transition: 0.5s;
}

        /*Main*/

main{
    display: flex;
}
    
.carousel {
    width: 50rem;
    height: 60rem;
    position: relative; 
    display: inline-block;
    background-color: orangered;
    margin-left: 2rem;
}

/*Section*/

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
}
.producto-imagen {
    max-width: 100%;
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
}
.producto-detalles{
    background-color: orangered;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.producto-titulo {
    font-size: 1rem;
}
.producto-agregar {
    border: 0;
    background-color: rgb(240, 237, 237);
    color: orangered;
    text-transform: uppercase;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(240, 237, 237);
    transition: .2s;
}
.producto-agregar:hover {
    background-color: orangered;
    color: rgb(240, 237, 237);
}

.producto-precio {
    font-size: 1.2rem;
}

footer {
    position: sticky;
    bottom: 0;
    margin-top: auto;
    color: white;
    background-color: orangered;
    text-align: center;
}

/*CARRITO*/


.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    margin-top: 5rem;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(218, 208, 208);
    color: orangered;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-img{
        width: 4rem;
        border-radius: 1rem;
}

.carrito-producto small {
    font-size: 1rem;
}

.carrito-producto-eliminar {
        border: 0;
        background-color: transparent;
        color: red;
        cursor: pointer;
}
.carrito-producto-cantidad {
    margin: 0.1rem;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    background-color: grey;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: orangered;
    text-transform: uppercase;
    gap: 1rem;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: grey;
    padding: 1rem;
    border-radius: 1rem;
    color: orangered;
    text-transform: uppercase;
    cursor: pointer;
}

.acciones-carrito-comprar {
    text-align: center;
    border: 0;
    background-color: orangered;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: rgb(240, 237, 237);
    text-transform: uppercase;
    cursor: pointer;
}

.disabled {
    display: none;
}